<mat-toolbar color="primary">
  <span>My Form</span>
</mat-toolbar>

<form class="form" [formGroup]="myForm">

  <div formGroupName="name">
    <table>
      <tr>

        <td><mat-form-field>
          <mat-label>Фамилия</mat-label>
          <input matInput formControlName="lastName" placeholder="Фамилия">
        </mat-form-field></td>

        <td><mat-form-field>
          <mat-label>Имя</mat-label>
          <input matInput formControlName="firstName" placeholder="Имя">
        </mat-form-field></td>

        <td><mat-form-field>
          <mat-label>Отчество</mat-label>
          <input matInput formControlName="thirdName" placeholder="Отчество">
        </mat-form-field></td>

      </tr>
    </table>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Дата рождения</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDay">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
      <mat-label>Пол</mat-label>
      <mat-radio-group class="RG" formControlName="sex" color="primary">
        <div>
          <mat-radio-button value="1">Женский</mat-radio-button>
        </div>

        <div>
          <mat-radio-button value="2">Мужской</mat-radio-button>
        </div>
      </mat-radio-group>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Номер телефона</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

</form>
