<mat-toolbar color="primary">
  <span>My Form</span>
</mat-toolbar>

<form class="form" [formGroup]="myForm">

  <div formGroupName="name">
    <table>
      <tr>

        <td><mat-form-field>
          <mat-label>Фамилия</mat-label>
          <input matInput formControlName="lastName" placeholder="Фамилия" required>
        </mat-form-field></td>

        <td><mat-form-field>
          <mat-label>Имя</mat-label>
          <input matInput formControlName="firstName" placeholder="Имя" required>
        </mat-form-field></td>

        <td><mat-form-field>
          <mat-label>Отчество</mat-label>
          <input matInput formControlName="thirdName" placeholder="Отчество">
        </mat-form-field></td>

      </tr>
    </table>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Дата рождения</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDay" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
      <mat-label>Пол</mat-label>
      <mat-radio-group class="RG" formControlName="sex" color="primary">
        <div>
          <mat-radio-button value="Женский">Женский</mat-radio-button>
        </div>

        <div>
          <mat-radio-button value="Мужской">Мужской</mat-radio-button>
        </div>
      </mat-radio-group>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Номер телефона</mat-label>
      <input matInput formControlName="phoneNumber" required>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Место работы</mat-label>
      <input type="text"
             placeholder="Выберите место"
             aria-label="Место работы"
             matInput
             formControlName="jobPlace"
             [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of jobPlaces" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <div>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{myForm.get('name.lastName')?.value}} {{myForm.get('name.firstName')?.value}}</mat-card-title>
        <mat-card-subtitle>{{myForm.get('name.thirdName')?.value}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          <b>Дата рождения:</b><br>{{myForm.get('birthDay')?.value}}
        </p>
        <p>
          <b>Пол:</b><br>{{myForm.get('sex')?.value}}
        </p>
        <p>
          <b>Номер телефона:</b><br>{{myForm.get('phoneNumber')?.value}}
        </p>
        <p>
          <b>E-mail:</b><br>{{myForm.get('email')?.value}}
        </p>
        <p>
          <b>Место работы:</b><br>{{myForm.get('jobPlace')?.value}}
        </p>
      </mat-card-content>
<!--      <mat-card-actions>-->
<!--        <button mat-button>LIKE</button>-->
<!--        <button mat-button>SHARE</button>-->
<!--      </mat-card-actions>-->
    </mat-card>
  </div>

  <button mat-raised-button color="primary" (click)="viewForm()">Отправить</button>

</form>
