<form [formGroup]="buyTicketForm" novalidate>
  <div>
    <label>Passenger</label>
    <input type="text" formControlName="passenger" />
    <div *ngIf="_passenger?.invalid && (_passenger?.touched || _passenger?.dirty)">
      <span *ngIf="_passenger?.errors?.required">Обязательное поле</span>
    </div>
  </div>

  <div>
    <label>Age</label>
    <input type="number" formControlName="passengerAge" />
    <div *ngIf="_age?.invalid && (_age?.touched || _age?.dirty)">
      <span *ngIf="_age?.errors?.min">Минимум: 15</span>
    </div>
  </div>

  <div formGroupName="passengerContacts">
    <div>
      <label>Telegram</label>
      <input type="text" formControlName="telegram" />
    </div>

    <div>
      <label>Whatsapp</label>
      <input type="text" formControlName="whatsapp" />
    </div>
  </div>

  <div>
    <input type="submit" value="Отправить" (click)="clickSubmit()">
  </div>
</form>
